PORT=8080
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rovix?schema=public"
JWT_SECRET="troque_esta_chave"
APP_BASE_URL="http://localhost:8080"
FRONTEND_BASE_URL="http://localhost:3000"
VEXOPAY_BASE_URL="https://www.vexopay.com.br"
VEXOPAY_CLIENT_ID="vxp_ci_SEU_CLIENT_ID"
VEXOPAY_CLIENT_SECRET="vxp_cs_SEU_CLIENT_SECRET"
WEBHOOK_SHARED_SECRET="troque_este_segredo"
